
@import url('https://fonts.googleapis.com/css?family=Lato:400,700');
@import url('https://fonts.googleapis.com/css?family=Dancing+Script" rel="stylesheet')
@import url('https://fonts.googleapis.com/css?family=El+Messiri');
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface');

/*NAVBAR*/
.navbar{
	/*text-transform: uppercase;*/
	font-weight: 700;
	font-size: .9rem;
	letter-spacing; .1rem;
	background: rgb(0, 0, 0, .6)!important;

}
.navbar-dark .navbar-nav .nav-link {
	color: white;
	padding-top: .8rem;
}

.navbar-brand img {
    height: 5rem;
    
}
.navbar-brand h4{
   font-family: 'Dancing Script', cursive;
}
,nav-link {
font-family: 'El Messiri', sans-serif;
}
.navbar-nav li {
	padding-right: .7rem;

}
/* CLose NAVBAR */

.carousel-item{
	height: 100vh;

}
.carousel-caption {
	position: absolute;
	top: 38%;
	text-transform: uppercase;


}
.carousel-caption h1{
	font-size: 3.8rem;
	font-weight: 200;
	letter-spacing: 2rem;

}
.narrow {
  width: 75%;
  margin: 0 auto;
  padding-top: 2rem;
}
.btn-md {
  border-width: medium;
  border-radius: 0;
  padding: .6rem 1.1rem;
  text-transform: uppercase;
  margin: 1rem;
}

body{
	overflow-x: hidden;
	font-family: 'Lato', sans-serif;
	color: #505962;
}

.offset:before{
	height: 3.8rem;
	margin-top: -3.8rem;
	content: "";
	display: block;

}
video {
  max-width: 100%;
  height: auto;
}

/*GALLERY*/

.grid figure {
    position: relative;
    float: left;
    overflow: hidden;
    background: #3085a3;
    text-align: center;
    cursor: pointer;
}

.grid figure img {
    position: relative;
    display: block;
    min-height: 100%;
    max-width: 100%;
    opacity: 0.8;
    margin: 0;
}

.grid figure figcaption {
    padding: 2em;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.25em;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
    pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption>a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.grid figure figcaption>a {
    z-index: 1000;
    text-indent: 200%;
    white-space: nowrap;
    font-size: 0;
    opacity: 0;
}

.grid figure h2 {
    word-spacing: -0.15em;
    font-weight: 300;
}

.grid figure h2 span {
    font-weight: 800;
}

.grid figure h2,
.grid figure p {
    margin: 0;
}

.grid figure p {
    letter-spacing: 1px;
    font-size: 68.5%;
}



figure.effect {
    background: #303fa9;
    margin: 0;
}

.grid [class^="col"] {
    padding: 2px;
}

figure.effect h2 {
    font-size: 158.75%;
}

figure.effect h2,
figure.effect p {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
    -webkit-transform-origin: 50%;
    transform-origin: 50%;
}

figure.effect figcaption::before {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 120px;
    height: 120px;
    border: 2px solid #fff;
    content: '';
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(-50%, -50%, 0) rotate3d(0, 0, 1, -45deg) scale3d(0, 0, 1);
    transform: translate3d(-50%, -50%, 0) rotate3d(0, 0, 1, -45deg) scale3d(0, 0, 1);
    -webkit-transform-origin: 50%;
    transform-origin: 50%;
}

figure.effect p {
    width: 100px;
    text-transform: none;
    font-size: 121%;
    line-height: 2;
}

figure.effect p a {
    color: #fff;
}

figure.effect p a:hover,
figure.effect p a:focus {
    opacity: 0.6;
}

figure.effect p a i {
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
}

figure.effect p a:first-child i {
    -webkit-transform: translate3d(-60px, -60px, 0);
    transform: translate3d(-60px, -60px, 0);
}

figure.effect p a:nth-child(2) i {
    -webkit-transform: translate3d(60px, -60px, 0);
    transform: translate3d(60px, -60px, 0);
}

figure.effect p a:nth-child(3) i {
    -webkit-transform: translate3d(-60px, 60px, 0);
    transform: translate3d(-60px, 60px, 0);
}

figure.effect p a:nth-child(4) i {
    -webkit-transform: translate3d(60px, 60px, 0);
    transform: translate3d(60px, 60px, 0);
}

figure.effect:hover figcaption::before {
    opacity: 1;
    -webkit-transform: translate3d(-50%, -50%, 0) rotate3d(0, 0, 1, -45deg) scale3d(1, 1, 1);
    transform: translate3d(-50%, -50%, 0) rotate3d(0, 0, 1, -45deg) scale3d(1, 1, 1);
}

figure.effect:hover h2 {
    opacity: 0;
    -webkit-transform: translate3d(-50%, -50%, 0) scale3d(0.8, 0.8, 1);
    transform: translate3d(-50%, -50%, 0) scale3d(0.8, 0.8, 1);
}

figure.effect:hover p i:empty {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    /* just because it's stronger than nth-child */
    opacity: 1;
}

figure.effect img:hover{
    transform: scale(1:1);
}


/*=============== team ===============*/



		.item{
			left: 0;
			top: 0;
			position: relative;
			overflow: hidden;
			margin-top:50px;
			
		}
		.item img{
			
  			
  			width: 200px;
	padding: 5px;
	
	transition: 1s;
  			
		}
		.item img:hover{
			filter: :grayscale(0);
	        transform: scale(1.5);
		
		}
		.img-thumbnail{
		    border:0px;
		    border-radius:0px;
		}

/*
 * 1. core styles
 */

.teamy {
 position: relative;
 z-index: 1;
 overflow: hidden;
}
.teamy_layout {
 position: relative;
}
.teamy_preview {
 position: relative;
 overflow: hidden;
}
.teamy_avatar {
 display: block;
 max-width: 100%;
 position: relative;
 z-index: 1;
}
.teamy_preview:before {
 content: "";
 position: absolute;
 top: 50%;
 left: 50%;
 z-index: 2;
}
.teamy_back {
 width: 100%;
 /* height: 100%;*/
 box-sizing: border-box;
 opacity: 0;
 will-change: opacity;
 display: flex;
 flex-direction: column;
 justify-content: center;
 position: absolute;
 top: 0;
 left: 0;
 z-index: 3;
}
.teamy:hover .teamy_back {
 opacity: 1;
 height: 100%;
 transition: opacity .4s cubic-bezier(0.71, 0.05, 0.29, 0.9) .2s;
}
.teamy_name {
 margin-top: 0;
 margin-bottom: 0;
}
.teamy_post {
 display: block;
}
/*
 * 2. visual styles
 */

/* common styles for visual styles */

.teamy_back {
 padding-left: 10px;
 padding-right: 10px;
 text-align: center;
}
.teamy_content {
 padding: 20px;
}
.teamy_name {
 font-size: 15px;
 text-transform: uppercase;
 letter-spacing: 1px;
 color: #282828;
 font-family: 'montserratbold';
}
.teamy_post {
 margin-top: .5em;
 font-size: .8em;
 text-transform: capitalize;
 color: #6f6f6f;
}
/* style 1 */

.teamy_style1 {
 text-align: center;
}
.teamy_style3 .teamy_name {
 font-size: 2em;
}
/*
 * 3. masks
 */

/* mask circle */

.teamy_mask-circle .teamy_preview:before {
 width: 0;
 height: 0;
 padding: 25%;
 border-radius: 50%;
 transition: transform .3s ease, opacity .3s ease-out;
 will-change: opacity, transform;
 opacity: 0;
 transform: translate(-50%, -50%) scale(0);
}
.teamy_mask-circle:hover .teamy_preview:before {
 opacity: 1;
 transform: translate(-50%, -50%) scale(4);
 transition-duration: .6s;
}
/* mask triangle */

.teamy_mask-triangle .teamy_preview:before {
 width: 100%;
 height: 100%;
 opacity: 0;
 -webkit-clip-path: polygon(50% 10%, 15% 90%, 85% 90%);
 clip-path: polygon(50% 10%, 15% 90%, 85% 90%);
 transition-property: transform, opacity;
 transition-duration: .2s, .4s;
 transition-delay: .4s, 0s;
 transition-timing-function: ease-out;
 will-change: transform, opacity;
 transform: translate(-50%, -50%) scale(1);
}
.teamy_mask-triangle:hover .teamy_preview:before {
 opacity: 1;
 transform: translate(-50%, -50%) scale(5);
 transition-delay: .1s, 0s;
 transition-duration: .4s;
}
/*
 * 4. animations for preview
 */

/* zoom */

.teamy_zoom-photo .teamy_avatar {
 transition: transform .4s cubic-bezier(0.71, 0.05, 0.29, 0.9);
 will-change: transform;
 transform: scale(1);
}
.teamy_zoom-photo:hover .teamy_avatar {
 transform: scale(1.2);
}
/* zoom and rotate */

.teamy_zoom-rotate-photo .teamy_avatar {
 transition: transform .4s cubic-bezier(0.71, 0.05, 0.29, 0.9);
 will-change: transform;
 transform: scale(1) rotate(0);
}
.teamy_zoom-rotate-photo:hover .teamy_avatar {
 transform: scale(1.2) rotate(5deg);
}
/* zoom and slide */

.teamy_zoom-slide-photo .teamy_avatar {
 transition: transform .4s cubic-bezier(0.71, 0.05, 0.29, 0.9);
 will-change: transform;
 transform: scale(1) translate(0, 0);
}
.teamy_zoom-slide-photo:hover .teamy_avatar {
 transform: scale(1.2) translate(4%, 4%);
}

/*
 * 5. default skin
 */

@media screen and (max-width: 360px) {
.melnik909 {
 display: none;
}
}
/* layout */

.section:nth-of-type(even) {
 background-color: var(--colorGray);
}
.section_header {
 position: relative;
 padding-bottom: 2rem;
 text-align: center;
 text-transform: capitalize;
}
.section_header:before {
 content: "";
 width: 5rem;
 height: 3px;
 background-color: var(--colorAlternative);
 position: absolute;
 bottom: 0;
 left: 50%;
 transform: translateX(-50%);
}
.section_title {
 font-size: 2.4rem;
 font-family: 'heebo';
}
.section_title span {
 color: #007efa;
}
.section_hint {
 font-size: 1.4rem;
 display: block;
 margin-top: 0rem;
}
.section_content {
 display: flex;
 flex-wrap: wrap;
 align-items: flex-start;
}

@media screen and (min-width: 641px) {
.section {
 padding-top: 3rem;
 padding-bottom: 3rem;
}
.section_header {
 margin-bottom: 1rem;
}
.section_content {
 justify-content: center;
}
}

@media screen and (max-width: 640px) {
.section {
 padding-top: 4rem;
 padding-bottom: 4rem;
}
.section_header {
 margin-bottom: 3rem;
}
}
/* demo params */

.teamy_preview:before {
 background-color: var(--demoColorMask, rgba(1, 94, 186, .8));
}
.teamy_style2 .teamy_content {
 background-color: var(--demoColorContent, rgba(72, 27, 174, .85));
}
/* social buttons */

.social {
 box-sizing: border-box;
 width: 35px;
 height: 35px;
 padding: 6px;
 /* background-color: #fff;*/
 color: #fff;
 border-radius: 100%;
 margin: 0px;
 position: relative;
 display: inline-block;
 vertical-align: middle;
}
.social:hover {
 box-sizing: border-box;
 background-color: #fff;
}
.social_icon {
 width: 100%;
 height: 100%;
 fill: rgba(72, 27, 174, 1);
 fill: var(--demoColorIcon, rgba(72, 27, 174, 1));
}
.social_name {
 position: absolute;
 left: -9999px;
}
/* grid */

.teamy-team {
 display: flex;
 justify-content: space-between;
 flex-wrap: wrap;
}

@media screen and (max-width: 424px) {
.teamy {
 width: 100%;
}
.teamy:not(:first-child) {
 margin-top: 3rem;
}
}

/*---2 team--*/
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
#team {
    background: #eee !important;
}

.btn-primary:hover,
.btn-primary:focus {
    background-color: #108d6f;
    border-color: #108d6f;
    box-shadow: none;
    outline: none;
}

.btn-primary {
    color: #fff;
    background-color:#EE165B;
    border-color: #EE165B;
}

section {
    padding: 60px 0;
}

section .section-title {
    text-align: center;
    color:#EE165B;
    margin-bottom: 50px;
    text-transform: uppercase;
}

#team .card {
    border: none;
    background: #ffffff;
}

.image-flip:hover .backside,
.image-flip.hover .backside {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
    border-radius: .25rem;
}

.image-flip:hover .frontside,
.image-flip.hover .frontside {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.mainflip {
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -ms-transition: 1s;
    -moz-transition: 1s;
    -moz-transform: perspective(1000px);
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
    position: relative;
}

.frontside {
    position: relative;
    -webkit-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    z-index: 2;
    margin-bottom: 30px;
}

.backside {
    position: absolute;
    top: 0;
    left: 0;
    background: white;
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    -webkit-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    -moz-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
}

.frontside,
.backside {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -moz-transition: 1s;
    -moz-transform-style: preserve-3d;
    -o-transition: 1s;
    -o-transform-style: preserve-3d;
    -ms-transition: 1s;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
}

.frontside .card,
.backside .card {
    min-height: 312px;
}

.backside .card a {
    font-size: 18px;
    color: #EE165B !important;
}

.frontside .card .card-title,
.backside .card .card-title {
    color: #EE165B !important;
}

.frontside .card .card-body img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}
/*=============== team ===============*/

/*About*/

.hero-wrap {
  width: 100%;
  height: 500px;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; }
  @media (max-width: 991.98px) {
    .hero-wrap {
      background-position: top center !important; } }
  .hero-wrap .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
    opacity: .3;
    background: #000000; }
  .hero-wrap.hero-wrap-2 .overlay {
    width: 100%;
    opacity: .3; }
  .hero-wrap .slider-text {
    height: 500px; }
    .hero-wrap .slider-text h1 {
    	font-family: 'Abril Fatface', cursive;
      font-size: 64px;
      color: #fff;
      line-height: 1.2;
      font-weight: 200; }
      @media (max-width: 991.98px) {
        .hero-wrap .slider-text h1 {
          font-size: 40px; } }
    


    

/*-----para----*/
#para{
	background: url(img/33355.jpg);
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

/* Footer */
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
section {
    padding: 60px 0;
}

section .section-title {
    text-align: center;
    color: black;
    margin-bottom: 50px;
    text-transform: uppercase;
}
#footer {
    background: #007b5e !important;
}
#footer h5{
	padding-left: 10px;
    border-left: 3px solid #eeeeee;
    padding-bottom: 6px;
    margin-bottom: 20px;
    color:#ffffff;
}
#footer a {
    color: #ffffff;
    text-decoration: none !important;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
#footer ul.social li{
	padding: 3px 0;
}
#footer ul.social li a i {
    margin-right: 5px;
	font-size:25px;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}
#footer ul.social li:hover a i {
	font-size:30px;
	margin-top:-10px;
}
#footer ul.social li a,
#footer ul.quick-links li a{
	color:#ffffff;
}
#footer ul.social li a:hover{
	color:#eeeeee;
}
#footer ul.quick-links li{
	padding: 3px 0;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}
#footer ul.quick-links li:hover{
	padding: 3px 0;
	margin-left:5px;
	font-weight:700;
}
#footer ul.quick-links li a i{
	margin-right: 5px;
}
#footer ul.quick-links li:hover a i {
    font-weight: 700;
}

@media (max-width:767px){
	#footer h5 {
    padding-left: 0;
    border-left: transparent;
    padding-bottom: 0px;
    margin-bottom: 10px;
}
}


/*Gallery*/
header{
	margin: .5vw;
	font-size: 0;
	display: -ms-transform;
	
}

